src/*.o
src/*.exe
src/*.res
src/*.d
src/*.cfg
src/*.log
src/*.dll
src/*.dmp
src/NUL
src/nvr/
src/roms/
src/include/86box/version.h
/.vs
.vscode/
.clangd
arch.c
build/
CPackConfig.cmake
CPackSourceConfig.cmake
**/CMakeFiles/
**/CMakeCache.txt
**/cmake_install.cmake
**/Makefile
